@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "symbols-nerds";
  src: url("../fonts/symbols-nerds.woff") format("woff"),
		url("../fonts/symbols-nerds.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-nerds";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  speak: none;
}

.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */

body {
	min-width: 900px;
	margin: 0;
	padding: 0;
	background-color: #ffffff; 
	color: #000000;
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
}

h2 {
	font-size: 36px;
	line-height: 36px;
}

.map-contacts h3 {
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
}

p,
ul,
h1,
h2,
h3,
figure {
  margin: 0;
  padding: 0;
}

a:focus {
  outline: none;
}

ul {
  list-style: none;
}

label {
  display: block;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
 
img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 880px;
	margin: 0 auto;
}

.main-header-block {
	padding-top:  25px;
	margin-bottom: 40px;
	
}

.main-header-logo {
	float: left;
	margin-right: 20px; 
}

.main-header-logo img{
	vertical-align: bottom;	
}

.main-header-menu {
	float: left;
	width: 560px;
	padding-top: 25px;
	font-size: 0px;
	text-align: right
}

.main-header-menu a {
	display: inline-block;
	vertical-align: -12px;
	margin-left: 46px;
	font-size: 14px;
	line-height: 30px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;	
}

.main-menu-cart {
	float: right;
	width: 100px;
	padding-top: 25px;
	margin: 0;
	padding-left: 35px; 
}

.main-menu-cart a { 
	font-size: 14px;
	line-height: 30px;
	padding-left: 35px;
	padding-bottom: 5px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
	vertical-align: -7px;
}

.main-header-menu a.current,
.main-menu-cart a.current {
	border-bottom: 2px solid #fb565a;
}

.main-header-menu a:active,
.main-menu-cart a:active {
	border-bottom-color: #000000;
	color: #000000;
	opacity: 0.4;
}

.main-header-menu a:hover,
.main-menu-cart a:hover {
	color: #fb565a;
}

.main-menu-cart {
	position: relative;
	margin-left: 25px;
	padding-left: 25px;
}

.main-menu-cart::before {
	position: absolute;
	top: 30px;
	left: 30px;
	font-family: "symbols-nerds";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	vertical-align: baseline;
	text-decoration: inherit;
	width: 14px;
	margin-right: 0;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	content: "\62";
	color: #bcbcbc;
}

.main-menu-cart:hover::before {
	position: absolute;
	top: 30px;
	left: 30px;
	font-family: "symbols-nerds";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	vertical-align: baseline;
	text-decoration: inherit;
	width: 14px;
	margin-right: 0;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	content: "\62";
	color: #fb565a;
}

.main-menu-cart:active::before {
	color: #bcbcbc;
}

.main-header {
	background: #eeeeee;
}

.slider {
  position: relative;
  width: 880px;
  min-height: 310px;
  margin: 0 auto;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 310px;
  background-repeat: no-repeat;
  background-position: 100% 10px;
  -webkit-transition: left 0.3s ease;
     -moz-transition: left 0.3s ease;
          transition: left 0.3s ease;
}

.slider input[type="radio"] {
  display: none;
}

.slider-controls {
  position: absolute;
  bottom: 80px;
  left: 50%;
  z-index: 10;
  width: 200px;
  margin-left: -110px;
  text-align: center;
}

.slider-controls label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 3px;
  vertical-align: top;
  background: #ffffff;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.slide-text {
  width: 500px;
  padding: 30px 0;
}

.slide-title {
	margin-bottom: 20px;
  font-weight: 500;
  font-size: 36px;
	line-height: 36px;
}

.slide p {
  font-weight: 500;
	font-size: 16px;
  line-height: 22px;
  color: #283136;
}

.slide .btn {
  display: block;
  width: 220px;
  margin-top: 27px;
  padding: 8px 10px;
	
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background: #fb565a;
  border-radius: 3px;
}

.slide:nth-child(1) {
  background-image: url("../img/slider-bg.png");
}

.slide:nth-child(2) {
  background-image: url("../img/slider-bg-2.png");
}

.slide:nth-child(3) {
  background-image: url("../img/slider-bg-3.png");
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  left: 0;
}

#btn-1:checked ~ .slides .slide:nth-child(2),
#btn-1:checked ~ .slides .slide:nth-child(3) {
  left: 880px;
}

#btn-2:checked ~ .slides .slide:nth-child(1) {
  left: -880px;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  left: 0;
}

#btn-2:checked ~ .slides .slide:nth-child(3) {
  left: -880px;
}

#btn-3:checked ~ .slides .slide:nth-child(1) {
  left: -880px;
}

#btn-3:checked ~ .slides .slide:nth-child(2) {
  left: -880px;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  left: 0;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background: #c1c1c1;
}

 .slider-right-column > img {
	display: block;	
}

.inner-page {
	padding-bottom: 78px;
}

.offer {
	padding-top: 80px;
	padding-bottom: 78px;
}

.offer .btn {
	margin-top: 27px;
	padding: 8px 5px;
}

.offer-index-left {
	float: left;
	width: 240px;
	margin-right: 80px;
	min-height: 300px;
}

.offer h3 {
	margin-top: 17px;
	margin-bottom: 14px;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.offer-index-middle {
	float: left;
	width: 240px;
	min-height: 300px;
}

.offer-index-right {
	float: right;
	width: 240px;
	min-height: 300px;
}

.btn {
	display: inline-block;
  width: 130px;
  margin-top: 25px;
  padding: 9px 5px;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background: #fb565a;
  border-radius: 3px;
}

.btn:hover {
  background-color: #d6494d;
}

.btn:active {
  background-color: #b63538;
  box-shadow: inset 0 3px 0 0 #9b2d30;
}

.offer-index-middle .btn {	
	background-color: #00ca74;
}

.offer-index-middle .btn:hover {	
	background-color: #01a25e;
}

.offer-index-middle .btn:active {
  background-color: #009053;
  box-shadow: inset 0 3px 0 0 #009053;
}

.offer-index-right .btn {	
	background-color: #efc84a;
}

.offer-index-right .btn:hover {	
	background-color: #d6ae2c;
}

.offer-index-right .btn:active {
  background-color: #c09b24;
  box-shadow: inset 0 3px 0 0 #c09b24;
}


.features {
	padding-bottom: 59px;
	border-top: 2px solid #EEEEEE;
	border-bottom: 2px solid #EEEEEE;
}

.features-left-column {
	float: left;
	width: 575px;
	margin-top: 70px;
	margin-right: 65px;
	min-height: 345px;	
}

.features h2 {
	margin-bottom: 20px;
}

.features-left-column p {
	font-size: 16px;
	line-height: 22px;
}

.features-list-titel {
	margin-top: 43px;
	margin-bottom: 11px;
	text-transform: uppercase;
}

.features-list li {
	position: relative;
	padding-left: 36px;
	padding-top: 10px;
	padding-bottom: 10px;	
}

.features-list li::before {
	position: relative;
	content: "";
	display: block;
	left: -36px;
	top: 12px;
	border: 1px solid #fb565a;
	width: 23px;
}

.features-right-column {
	float: left;
	width: 230px;
	margin-top: 60px;
	min-height: 345px;	
}

.features-right-column img {
	width: 187px;
	margin: 0 5px 0 5px;
}

.features-header-image {
	padding-left: 26px;
	margin-bottom: 23px;
}

.features-header-image img{
	width: 187px;
	height: 75px;
}

.features-date {
	position: relative;
	text-align: center;
	margin-bottom: 64px;
}

.features-date div{
	position: relative;
	display: inline-block;
	vertical-align: baseline;
	padding: 0 15px;
	background: white;
	z-index: 1; 
}

.features-date::after {
	content: "";
	position: absolute;
	top: 9px;
	left: 0;
	right: 0;
	border: 1px #eeeeee solid;
}

.site-logo {
	margin-bottom: 85px;
	padding-top: 42px;
	font-size: 0;
	min-height: 124px;
	border-bottom: 2px solid #EEEEEE;text-align: center;
}

.site-logo-item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 120px;
	opacity: 0.2;	
}

.site-logo-item:hover,
.site-logo-item:active {
	opacity: 1;
}

.site-logo-item:last-child {
	margin-right: 10px;
}

.map {
	position: relative;
	width: 100%;
	min-height: 416px;
	margin: 0 auto;	
	background: #eee no-repeat scroll 50% 50%;
}

.map-contacts {
	position: absolute;
	top: 88px;
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 25px;
	width: 210px;
	background-color: white;
}

.map-contacts p {
	font-size: 16px;
	line-height: 20px;
	margin-top: 13px;
	margin-bottom: 20px;
}

.bottom-footer {
	padding-top: 75px;
	padding-bottom: 68px;
}

.bottom-footer-left{
	float: left;
	width: 270px;
	padding-top: 5px;
}

.bottom-footer-right {
	float: right;
	max-width: 560px;
	margin-right: 17px;
}

.bottom-footer-slogan{
	margin-top: 7px;
	margin-bottom: 17px;
	font-size: 36px;
}

.bottom-footer-right p{
	color: #283136;
}

.inner-header {
	width: 700px;
	margin-top: 62px; 
	padding-bottom: 85px;
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
	line-height: 48px;		
}

.catalog {
	padding-top: 70px;

}

.catalog-left-column {
	float: left;
	width: 240px;
	margin-top: 3px;
}

.catalog-filter-controls {
	width: 240px;
	min-height: 80px;	
}

.catalog-right-column {
	float: right;
	width: 561px;
	padding-top: 8px;
}

.catalog-sort {
	margin-bottom: 16px;
	font-size: 0;	
}

.catalog-sort span {
	font-size: 12px;
	line-height: 18px;
	margin-right: 50px;
	text-transform: uppercase;
	display: inline-block;
	margin-right: 40px;
	vertical-align: top;	
}

.catalog-item {
	position: relative;
	display: inline-block;
	top: 31px;
	left: 2px;
	margin-bottom: 104px;
	text-decoration: none;
}

.catalog-item::after {
	position: absolute;
	top: -24px;
	left: 10px;
	font-size: 45px;
	content: "•••";
	color: white;
}

.catalog-item::before {
	position: absolute;
	top: -30px;
	left: 0px;	
	width: 240px;
	height: 30px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #f1f1f1;
	content: "";
}

.catalog-item:hover::before {
	position: absolute;
	top: -30px;
	width: 240px;
	height: 30px;
	background: #797979;
	content: "";
}

.catalog-item:hover > .catalog-item-block {
	display: block;
}

.catalog-item-block {
	position: absolute;
	top: 20px;
	left: 20px;
	display: none;
	width: 140px;
	min-height: 140px;
	padding: 30px;
	background-color: #ffffff;
	text-align: center;
}

.catalog-item-title {
	margin-top: 2px;
	margin-bottom: 13px;
	color: black;
	text-transform: uppercase;
	font-size: 18px;
	text-decoration: none;
}

.catalog-item-info {
	color: #283136;
	margin-bottom: 7px;
	font-size: 14px;
	line-height: 18px;
}

.catalog-item-btn {
	display: inline-block;
	vertical-align: baseline;
	padding-top: 7px;
	padding-bottom: 10px;
	color: white;
	background-color: #fb565a;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	text-align: center;
	width: 130px;
	font-size: 18px;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
}

.catalog-item:nth-child(2n+1) {
	margin-right: 75px;
}

.offer p {
	font-size: 15px;
	line-height: 22px;
}

.map-contacts .btn {
	width: 204px;
	padding: 0px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin: 0px;
	margin-top: 8px;
	margin-left: 3px;	
}

.footer-btn {
	position: relative;
	float: left;
	margin-right: 30px;
	width: 60px;
	height: 60px;
	line-height: 50px;
	border-radius: 50%;
	text-align: center;
	text-decoration: none;
	background: #e1e1e1;
	font-size: 20px;
	font-weight: bold;	
}

a.footer-btn:last-child  {
	margin-right: 0px;
}

.footer-btn-vk::before {
	position: absolute;
	left: 15px;
	top: 20px;
	font-family: "symbols-nerds";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	vertical-align: baseline;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	content: "\76";
	color: white;
}

.footer-btn-fb::before {
	position: absolute;
	left: 15px;
	top: 20px;
	font-family: "symbols-nerds";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	vertical-align: baseline;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	content: "\66";
	color: white;
}

.footer-btn-inst::before {
	position: absolute;
	left: 17px;
	top: 20px;
	font-family: "symbols-nerds";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	vertical-align: baseline;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	content: "\1F4F7";
	color: white;
}

.footer-btn:hover {
  background-color: #fb565a;
}

.footer-btn:active {
  box-shadow: inset 0 3px 0 0 #b63e42;
  background-color: #d6494d;
}

@-webkit-keyframes bounce {
	0% {
		transform: translateX(-2000px);
	}
	70% {
		transform: translateX(30px);
	}
	90% {
		transform: translateX(-10px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes bounce {
	0% {
		transform: translateY(-2000px);
	}
	70% {
		transform: translateY(30px);
	}
	90% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}

@-webkit-keyframes shake {
	0%, 100% {
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-10px);
	}
	20%,
	40%,
	60%,
	80% {
		transform: translateX(10px);
	}
}

@keyframes shake {
	0%, 100% {
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-10px);
	}
	20%,
	40%,
	60%,
	80% {
		transform: translateX(10px);
	}
}

.feedback-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.feedback {
	position: fixed;
	display: none;
	width: 460px;
	top: 50%;
	left: 50%;
	margin-top: -205px;
	margin-left: -300px;
	padding-top: 54px;
	padding-left: 80px;
	padding-right: 90px;
	padding-bottom: 50px;
	box-shadow: 0 20px 40px 0 rgba(0, 1, 1, .75);
	background: white;
	z-index: 1000;
}

.feedback-show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.feedback-left-column {
  float: left;
  width: 220px;
}

.feedback label {
  line-height: 18px;
}

textarea {
  resize: none;
}

.feedback input,
.feedback textarea {
	font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.feedback-right-column input,
.feedback-left-column input {
  width: 186px;
  border: 2px solid #d7dcde;
  border-radius: 4px;
}

.feedback-right-column {
  float: right;
  width: 220px;
}

.feedback textarea {
  width: 426px;
}

.feedback input,
.feedback textarea {
  padding: 8px 15px;
  border: 2px solid #d7dcde;
  border-radius: 4px;
  outline: none;
}

.feedback textarea {
  padding-bottom: 15px;
}

.feedback input:hover,
.feedback textarea:hover {
  border: 2px solid #a2a9ac;
  border-radius: 4px;
}

.feedback input:focus,
.feedback textarea:focus {
  border: 2px solid #56bffb;
  border-radius: 4px;
}

::-webkit-input-placeholder {
  color: black;
}

::-moz-placeholder {
  color: black;
}
/* Firefox 19+ */

:-moz-placeholder {
  color: black;
}
/* Firefox 18- */

:-ms-input-placeholder {
  color: black;
}

.feedback label {
  margin-bottom: 11px;
}

.feedback-user {
  margin-bottom: 20px;
}

.feedback textarea {
  margin-bottom: 45px;
}

.feedback-btn,
.feedback-cancel {
  padding-top: 11px;
  padding-bottom: 11px;
}

.feedback-block .feedback-btn {
  float: left;
  width: 220px;
}

.feedback-block .feedback-cancel {
	float: right;
	width: 220px;
	background-color: #f1f1f1;
	color: black;
}

.feedback-block .feedback-cancel:hover {
	float: right;
	width: 220px;
	background-color: #e5e5e5;
	color: black;
}

.feedback-block .feedback-cancel:active {
	float: right;
	width: 220px;
	padding-top: 10px;
	background-color: #e5e5e5;
	box-shadow: inset 0 3px 0 0 #b5b5b5;
	color: black;
}

.feedback-circle-btn {
	position: absolute;
	top: 5px;
	right: 5px;
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	color: #f5f5f5;
	text-align: center;
	text-decoration: none;
	background-color: #fb565a;
	font-weight: bold;
	z-index: 10;
}

.feedback-circle-btn:hover {
	background-color: #d6494d;
}

.feedback-circle-btn:active {
	background-color: #b63538;
}

.feedback-circle-btn::after {
	position: absolute;
	top: 17px;
	left: 8px;
	width: 25px;
	height: 5px;
	transform: rotate(45deg);
	background: white;
	font-size: 40px;
	font-weight: normal;
	color: white;
	content: "";
}

.feedback-circle-btn::before {
	position: absolute;
	top: 17px;
	left: 8px;
	width: 25px;
	height: 5px;
	transform: rotate(-45deg);
	background: white;
	font-size: 40px;
	font-weight: normal;
	color: white;
	content: "";
}

.catalog-filter-title {
	margin-bottom: 16px;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.catalog-price-title {
	color: #000000;
}

.range-filter {
  width: 240px;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
	line-height: 22px;
  display: inline-block;
  width: 50%;
	text-transform: uppercase;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #f1f1f1;
}

.catalog-label {
	color: #283136;
	font-size: 16;
	line-height: 20px;
	cursor: pointer;
	margin-bottom: 20px;
	margin-left: 35px;
	position: relative;
}

input[type="radio"] + .catalog-label::before {
	content: "○";
}

input[type="radio"]:checked + .catalog-label::before {
	content: "●";
}

input[type="checkbox"] + .catalog-label::before {
	content: "☐";
}

input[type="checkbox"]:checked + .catalog-label::before {
	content: "☑";
}

input[type="radio"] + .catalog-label:hover::before,
input[type="checkbox"] + .catalog-label:hover::before {
	color: #b5b5b5;
}

input[type="radio"] + .catalog-label::before,
input[type="radio"]:checked + .catalog-label::before,
input[type="checkbox"] + .catalog-label::before,
input[type="checkbox"]:checked + .catalog-label::before {
	color: #c1c1c1;
	display: inline-block;
	font-family: "symbols-nerds";
	font-size: 28px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	left: -35px;
	position: absolute;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	vertical-align: baseline;
	width: 10px;
}

input[type="radio"]:disabled + .catalog-label,
input[type="checkbox"]:disabled + .catalog-label {
	color: #eaeaea;
}

input[type="checkbox"]:disabled + .catalog-label::before,
input[type="radio"]:disabled + .catalog-label::before {
	color: #eaeaea;
}

input[type="radio"]:disabled + .catalog-label:hover::before,
input[type="checkbox"]:disabled + .catalog-label:hover::before {
	color: #eaeaea;
}

.catalog-grid-title {
	margin-top: 45px;
}

.catalog-features-title {
	margin-top: 45px;
}

.filter-btn {
	background-color: #f1f1f1;
	border: medium none;
	color: #000;
	margin-top: 39px;
	outline: 0 none;
	padding-left: 46px;
	padding-right: 42px;
	width: 155px;
	height: 38px;
}

.filter-btn:hover {
	background-color: #e5e5e5;
	color: black;
}

.filter-btn:active {
	padding-top: 10px;
	background-color: #e5e5e5;
	box-shadow: inset 0 3px 0 0 #b5b5b5;
	color: black;
}

.catalog-sort-option {
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	border-bottom: 2px #00ca74 dotted; 
	text-decoration: none;
	text-transform: uppercase;
	margin-right: 0px;
	color: #cacaca;	
	display: inline-block;
	margin-right: 46px;
	vertical-align: top;
}

.catalog-sort-option:hover {
	color: #000000;
}

.catalog-sort-option:active {
	color: #000000;
	border-bottom: hidden; 
}

.catalog-sort-arrow {
	float: right;
	font-size: 0px;
	margin-top: -2px;	
}

.catalog-sort-up::before {
	font-family: "symbols-nerds";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	vertical-align: top;
	font-size: 20px;
	text-decoration: none;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	content: "\25b2";
	color: #c1c1c1;
}

.catalog-sort-down::before {
	font-family: "symbols-nerds";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	vertical-align: top;
	margin-right: 8px;
	font-size: 20px;
	text-decoration: none;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	content: "\25bc";
	color: #00ca74;
}

.catalog-sort-up:hover::before,
.catalog-sort-down:hover::before {
	color: #b5b5b5;
}

.catalog-sort-up:active::before,
.catalog-sort-down:active::before {
	color: #000000;
}

.catalog-paginator {
	font-size: 0;
	padding-left: 2px;
	margin-top: 3px;
}

.catalog-paginator span,
.catalog-paginator a {
	display: inline-block;
	vertical-align: baseline;
	padding: 11px 16px;
	margin-right: 10px;
	border-radius: 4px;
	background-color: #f1f1f1;
	font-size: 12px;
	text-decoration: none;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
}

.catalog-paginator span {
	padding: 8px 13px;
}

a.catalog-paginator-next {
	padding-left: 32px;
	padding-right: 39px;
}

.catalog-paginator a:hover {
	background-color: #e5e5e5;
}

.catalog-paginator a:active {
	box-shadow: inset 0 3px 0 0 #b5b5b5;
	background-color: #d5d5d5;
}

.catalog-paginator .catalog-paginator-active {
	border: 2px solid #f2f2f2;
	background-color: white;
}

.modal-content-map {
	height: 416px;
  margin: 0 auto;
	position: relative;
  overflow: hidden;
}

#yandex-map {
	position: relative;
	height: 416px;
	margin: 0 auto;	
}
.catalog-item a {
	text-decoration: none;
}